@model MVC5RealWorld.Models.ViewModel.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <span>Welcome!</span>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    Sem conta ainda? @Html.ActionLink("Signup Now!", "SignUp", "Account")

    <div>
        @Html.EditorFor(modelo => modelo.Nome, new { htmlAttributes = new { @style = "width:100px", @size = "10" } })
        <br />
        @Html.TextBox("Nome", null, new { size = 11 })
        <br />

    </div>

    @{
        var parms = new Dictionary<string, string>
        {
            { "speakerId", "11" },
            { "currentYear", "true" }
        };
        
    }

    @if (@Model?.Nome != null)
    {
        <br />
        <a asp-action="SignUpNome" asp-controller="Account" asp-route-nome="@Model.Nome">Nome : @Model.Nome</a>
        
        <br />

        <div class="form-group">
            <span><strong> @Model.Nome </strong>- Seja bem vidno </span>
        </div>
    }

    <p/>

    <div>
        <span> Esta é a Data: @ViewData["Message"] </span>
    </div>


</div>
